* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 100vh;
}

.box {
  position: relative;
  width: 500px;
  height: 475px;
  background: #fafafa;
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 420px;
  height: 500px;
  background: linear-gradient(60deg, transparent, #ff9800, #ff9800);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 420px;
  height: 420px;
  background: linear-gradient(60deg, transparent, #3f51b5, #3f51b5);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

form {
  position: absolute;
  inset: 2px;
  background: #fafafa;
  border-radius: 20px;
  z-index: 10;
  padding: 30px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

form:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  width: 100%;
  text-align: center;
}

.title h1 {
  color: #ff9800;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

form .input-box {
  width: 100%;
  margin-top: 20px;
}

form .input-box input {
  width: 100%;
  background-color: rgba(255, 152, 0, 0.1);
  border: none;
  outline: none;
  border-width: 3px;
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
  transition: all 0.3s ease;
}

form .input-box input::placeholder {
  color: #757575;
}

form .input-box input[type="submit"] {
  background-color: #3f51b5;
  cursor: pointer;
  color: #fff;
  filter: drop-shadow(0 5px 10px #3f51b5);
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

form .input-box input[type="submit"]:hover {
  background-color: #303f9f;
}

form .link-text {
  padding-top: 15px;
  color: #2196f3;
  font-size: 0.9rem;
  text-align: center;
}

form .link-text a {
  text-decoration: none;
  color: #ff5722;
  font-weight: 700;
}

.label-color {
  color: #757575;
}
